*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.News{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}
.card{
  border: 2px solid salmon;
  border-radius: 5px;
  margin: 1em;
  width: 30vw;
  padding: 1.2em;
  text-align: center;
}
a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
a button{
  padding: 0.5em;
  margin: 0.8em auto;
  align-items: center;
  background-color: salmon;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 9px;
}
@media screen and (max-width: 650px) {
  .News{
    grid-template-columns: repeat(2, 1fr);
  }
  .card img{
    width: 70px;
    height: 80px;
  }
  .card{
    width: 42vw;
    font-size: 9px;
  }
}
@media screen and (max-width: 400px) {
  .App{
    display: flex;
    flex-direction: column;
    margin: 0.4em;
    }
  .card{
  border: 1px solid salmon;
  margin: 0.8em auto;
  width: 80vw;
  height: max-content;
  padding: 1em
}
}
